@CHARSET "UTF-8";

*{margin:0 auto ;padding:0;list-style: none;text-decoration:none;box-sizing: border-box;font-family:"맑은 고딕";}
	/*option*/
	.padding_none{padding:0px !important}
	.margin_none{margin:0px !important}
	.padding_left{padding-left:0px !important}
	.h50{height:50%}
	.h25{height:25%}
	.h20{height:20%}
	.h60{height:60%}
	.h100{height:100%}
	.h33{height:30%}
	.h35{height:35%}
	.h40{height:40%}
	.h80{height:80%}
	.h90{height:90%}
	.h45{height:45%}
	.h70{height:70%}
	.h15{height:15%}
	.height_box{height:5vh;clear:both}
	.h45{height:45%}
	.w100{width:100%}
	.w30{width:30%}
	.w70{width:70%}
	.w50{width:50%}
	
	
	.board_title > b:nth-child(2){font-size:1.7vh;color:#bbb;font-weight:normal;}
	.board_title > b{font-size:3vh;color:#000}
	.title_bar{height:5vh}
	.table_take th{text-align:center;border-top:2px solid #999 !important;border-bottom:1px solid #000;background:#f1f1f1}
	.table_take tr{height:5vh}
	.table_take{margin:0px !important;width:100% !important}
	
	.btn_wraps  > button{float:left !important;height:90%;border:1px solid #000;margin-left:3%;background: rgba(0,0,0,0) !important;}
	.search_form{height:4.5vh;}
	.searh_box  input{border:1px solid #ddd}
	.search_btn{background:#ddd}
	.select_board{border:1px solid #ddd}
	.sub_menu{height:45vh;background:#fbfbfb;padding-top:2%}
	.height_sub{height:2vh;width:100%;clear:both}
	.sub_menu_mini{float:left;background:#fbfbfb}
	.sub_menu_mini > div{border:1px solid #ddd}
	.icon_make{background:#000;border-radius:50%;width:7vh !important;height:7vh;color:#fff;font-weight:bold;font-size:5vh;text-align:center;}
	.fixed_box{position:fixed;height:20vh;top:15%;right:0%;}
	.back_to_btn{background:#f30}
	.back_to_btn > div:first-child{background:#000;color:#fff}
	.back_to_btn > div:last-child{background:#fff;color:#000;border:1px solid #000}
	.table>tbody>tr>td{border-top:1px solid #ddd !important}