@CHARSET "UTF-8";


*{margin: 0 auto;padding:0;list-style: none;text-decoration: none;box-sizing: border-box !important;font-family: "맑은 고딕"}
	
	.h15{height:15% !important}
	
	.f1{padding-left:0% !important;}
	.f2{padding-right:0% !important;}
	.goods_title{height:5vh;background:#21b6de;color:#fff}
	.goods_title > div{height:100%}
	.goods_title > div  > div{padding-top:5%} 
	
	.tab_wrap{width:100%;}
	.nav-tabs>li{width:50%;text-align: center}
	.content6{padding-top:5%;position: relative;background:#21b6de;color:#fff}
	.content6 > div:first-child{position:absolute;top:7.5%}
	.content6 > div > img{width:100%}
	.content6 > div:last-child{height:90vh;border:1px solid #000;}
	
	.info_wrap{height:150vh;}
	.info_wrap > div {margin-top:0%;height:100%}
	.info_wrap > div  > div:first-child{height:10%;position: relative;z-index:3}
	.info_wrap > div  > div:last-child{border:1px solid #999;height:auto;overflow:hidden;box-shadow:1px 10px 10px 1px #999}
	.info_content{padding-top:10%}
	.info_content_title{padding-left:0px !important;}
	.info_content_title > h3{margin-bottom:1%; font-weight: bold; margin-top:5%;  float: left;}
	.info_content_title > button{
		position: absolute;
	    bottom: 0;
	    right: 0;
	    margin-bottom: 1%;
		background: #fff;
	    border: 1px solid #00213d;
	    border-radius: 5px;
	    padding: 5px;
	    width: 8vh;
	 }
	 
	.text_info {margin-bottom:5%;}
	.text_info > b{color:red;text-decoration:underline;}

	.table1{border-top: 2px solid #555;height:30vh;border-bottom:1px solid #333;}
	.table1 tr td{height: 5vh}
	.table1 tr td:first-child{font-size:17px; text-align:right;font-weight:bold}
	.table1 tr td:last-child{font-size:16px; text-align:left}
	.table1 tr td:last-child b{color:#666;font-size:17px;margin-right:10px;}
	.table1 tr td:last-child a[class=attach-file]{color:#21b6de;font-weight:bold}
	.table1 tr td:last-child a[class=attach-file]:hover{text-decoration:underline;}
	
	.height_box{width:100%;height:5vh;}
	.height_box2{width:100%;height:3vh;clear: both}
	.text_input{height:10vh;border-radius:7px;resize: none;border: 1px solid #21b6de;padding:15px}
	
	.progress_wrap{height:5vh;}
	.progress_text{font-weight:bold;font-size:2vh;line-height:5vh;text-align: left}
	.progress_color{height: 100%;border:1px solid #555;border-right:none}
	.progress_color > div{width:10%;height:100%;border-right:1px dotted #ccc;float:left;}
	.progress_color > div:last-child{border-right:1px solid #555;}
	
	.button_wrap{margin-bottom:10%;}
	.button_wrap button{border:none;height:5vh;background:#21b6de;border-radius:5px;color:#fff}
	.button_wrap button:last-child{border:none;height:5vh;background: #eee;border-radius:5px;color:#fff}
	
	
	/*서류관린*/
		*{margin:0 auto; padding:0;list-style:none;text-decoration:none;box-sizing:border-box !important;font-family:"맑은 고딕"}
		/*옵션*/
		.padding-none{padding:0px !important}
		.h25{height:25% !important;width:100%}
		.h50{height:50% !important;width:100%}
		.height_box{width:100%;height:1vh;clear:both}
		.height_box3{width:100%;height:10vh !important;clear:both}
		.sub_drop{height:6vh;border-radius:10px;border:1px solid #ddd;margin-top:1%}
		.sub_drop  button{width:50%;float:left;border:none;background:rgba(0,0,0,0);height:100%}
		.sub_drop  button:first-child{border-right:1px solid #ddd}
		.active_btn{text-decoration:underline;}
		
		.font_boxs{font-size:1.5vh;font-weight:bold}
		.font_boxs > span{color:#c01a1a;}
		.state_wrap{height:6vh;clear:both;margin-top:3%}
		.state button{border:none;height:3vh;border:1px solid #c01a1a;background:rgba(0,0,0,0);color:#c01a1a}
		.state div{height:2vh}
		.download_btn{height:3vh;border:none;background:#21b6de;color:#fff}
		
		
		.dragdrop_box{width:90%;height:45vh;border:1px solid #ddd;clear:both;margin-top:9%;padding-top:2%}
		.dragdrop_box ul {width:95%;height:95%;margin-left:2.5%;}
		.img_wrap_li{border:1px solid #f1f1f1;height:90%;float:left;overflow:hidden;margin-left:1.5%;position:relative;margin-top:5%;width:95%}
		.img_files{width:100%;position:relative;height:100%}
		.btn_img_wrap{position:absolute;top:0%;width:3vh;height:3vh;}
		.btn_img_wrap  > button{border:none;color:#fff;background:#21b6de;width:100%;height:100%;}
		
		.btn_modify{border:none;height:3vh;color:#21b6de;border:1px solid #21b6de;background:rgba(0,0,0,0);transition:.5s}
		.btn_download{border:none;height:3vh;color:#c01a1a;border:1px solid #c01a1a;background:rgba(0,0,0,0);transition:.5s}
		
		.btn_modify:hover{background:#21b6de;color:#fff}
		.btn_download:hover{background:#c01a1a;color:#fff}
		.drop_text{padding-top:2%}
		
		
		/*css files*/
		
		.btn-defaults{
		 position: relative;
		    overflow: hidden;
		    left: 0%;
		    color:#21b6de !important;
		    background:rgba(0,0,0,0);
		    border:1px solid #21b6de !important;
		    display:block;
		    height:3vh;
		    border-radius: 0px;
		    top:0%;
		}
		
		
		.btn-defaults input[type=file] {
			clear:both;
		    position: absolute;
		    height: 100%;
		    width: 100%;
		    font-size: 3vw;
		    filter: alpha(opacity=0);
		    opacity: 0;
		    outline: none;
		    background: white;
		    cursor: inherit;
		    display: block;
		    top:0%;
		}
		
		
		
		.btn-file {
		    position: relative;
		    overflow: hidden;
		    left: 0%;
		    color:#fff;
		    background:rgba(0,0,0,0);
		    border:none !important;
		    color:#000;
		    display:block;
		    font-size:2vw;
		    height:100%;
		    
		}
		.btn-file input[type=file] {
			clear:both;
		    position: absolute;
		    top: 50%;
		    right: 0;
		    height: 100%;
		    font-size: 3vw;
		    text-align: right !improtant;
		    filter: alpha(opacity=0);
		    opacity: 0;
		    outline: none;
		    background: white;
		    cursor: inherit;
		    display: block;
		}
		
		/*file_upload*/
		.img_result_wrap{
			width:100%;
			position: absolute;
			overflow:hidden;
			background:rgba(0,0,0,0);
			top:0%;
			height:100%;
			z-index:10;
			
		}
		.img_result_wrap  input[type=file] {
			width:100%;
			clear:both;
		    height: 100%;
		    font-size: 3vw;
		    text-align: right !improtant;
		    filter: alpha(opacity=0);
		    opacity: 0;
		    outline: none;
		    background: white;
		    cursor: inherit;
		    display: block;
		    top:0%;
		    
		}
	
	
		
		/*조회*/
		
		.upload_wrap > div:first-child > div:first-child {border:1px solid #21b6de;text-align:center;color:#21b6de}
		.upload_wrap > div:last-child{height:100%;clear:both}
		.upload_wrap > div:last-child > div:first-child{height:35vh;border:1px solid #ddd;clear:both;margin-top:2%}
		.not_upload_wrap{height:35vh}
		.not_upload_wrap > div:first-child > div:first-child{border:1px solid #c01a1a;text-align:center;color:#c01a1a}
		.not_upload_wrap > div:last-child{height:100%;clear:both}
		.not_upload_wrap > div:last-child > div{height:100%;clear:both;margin-top:2%}
		.view-precontent{
			    width: 100%;
			    color: #fff;
			    background: #21b6de;
			    border: none;
			    border-radius: 5px;
			    height: 35px;
			    font-size: 15px;
			    line-height: 1;
		}
		.view-precontent p{
			font-size:10px;
			margin-bottom:0 !important;
		}
		.precontent div span[class=regis-date]{
			float:right;
			margin-top:5%;
		}
		.icon25{
			width:25px !important;
			height:25px !important;
			margin-right:5px;
			vertical-align: text-top;
		}