@CHARSET "UTF-8";

*{margin:0 auto;padding:none;font-family: "맑은 고딕";box-sizing:border-box;list-style:none;text-decoration:none}
	.join_tables  tr{height:8vh;border-right:1px solid #ccc !important}
	.join_tables{color:#333;border-top:1px solid #555;font-weight: bold;margin-top:3%}
	.join_tables tr td{padding-top: 2% !important;}
	.join_tables tr:first-child{border-top:2px solid #555 !important}
	.join_tables tr td:first-child{background:#e9e9e9;color:#666;width:15%;border-bottom:1px solid #ccc !important;}
	.join_tables tr td{border-bottom:1px solid #ccc !important}
	.join_tables tr td:nth-child {width:35% !important}
	.join_tables tr:last-child{border-bottom:2px solid #555 !important}
	.img_box{margin-top:3vh;}
	.height_boxs{height:7vh} 
	.img_wrap{height:35vh;}
	.change_img{width:100%;height:100%;position:relative;}
	.if_patent{display:none;}
	
	.de{display:none}
		.btn-file input[type=file] {
		    position: absolute;
		    top: 0;
		    right: 0;
		    width: 100%;
		    height: 100%;
		    font-size: 50px;
		    text-align: right !improtant;
		    filter: alpha(opacity=0);
		    opacity: 0;
		    outline: none;
		    background: white;
		    cursor: inherit;
		    display: block;
		}
	.btn-file {
			width: 90% !important;
			height:100% !important;
		    position: relative;
		    overflow: hidden;
		    height:3vh;
		    color:#fff !important;
		    background-image: url("/resources/image/profile.jpg") !important;
		   	background-repeat:no-repeat;
		    border:none !important;
		    font-size:5vw !important;
		    font-weight: bold;
		    text-align: center;
		}
		.inputs_imgs{
			clear:both;
		    position: absolute;
		    height: 100%;
		    text-align: right !improtant;
		    filter: alpha(opacity=0);
		    opacity: 0;
		    outline: none;
		    background: white;
		    cursor: inherit;
		    display: block;
		}
	#introduce{
		resize: none;
		overflow-y: auto;
		height: 100px;
	}

.htu-title {
  color: #c9aa71;
  margin-top: 50px;
  margin-bottom: 20px;
  display: block;
}
.htu-title:first-child {
  margin-top: 10px;
}
.htu {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #e9e9e9;
  font-size: 14px;
  margin-top: 20px;
  color: #121212;
  background: #f9f9f9;
}
.htu h2 {
  font-size: 18px;
}
.htu h3 {
  font-size: 16px;
}
.htu ul {
  padding-left: 20px;
}
.htu ul li {
  padding-left: 10px;
}
.privacy {
  padding: 15px;
}
.privacy ol {
  padding-left: 20px;
}
.privacy ol li {
  padding-left: 10px;
}
.email-nope {
  padding: 15px;
}
.email-nope ol {
  padding-left: 20px;
}
.email-nope ol li {
  padding-left: 10px;
  line-height: 1.8em;
}
.check-boxs {
  margin-top: 50px;
  margin-bottom: 100px;
  border-top: 1px solid #e9e9e9;
  padding-top: 20px;
  font-size: 16px;
}
.check-boxs .check-zone {
  padding: 15px;
  border: 1px solid #e9e9e9;
  background: #f9f9f9;
}
.check-boxs .check-zone .necessary {
  color: #f00;
}
.check-boxs .check-zone .agree {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  box-shadow: none;
  border: 1px solid #ccc;
}
.cancel-btn {
  height: 40px;
  margin: 10px 10px 10px 0px;
}
.agree-btn {
  height: 40px;
  margin: 10px 0px 10px 10px;
}
.who {
  border: 1px solid #e9e9e9;
  background: #f9f9f9;
  padding-top: 80%;
  overflow: hidden;
  cursor: pointer;
}
.who:hover .user-type-img {
  transform: scale(1.1, 1.1);
}
.who .user-type-img {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
  transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
}
.who .user-type-cont {
  padding: 30px 20px;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
  color: white;
}
/*
.who .nomal {
  background-image: url(../../image/bg2.jpg);
}
.who .star {
  background-image: url(../../image/select-img00.jpg);
}
.who .company {
  background-image: url(../../image/select-img0.jpg);
}
.who .promotion {
  background-image: url(../../image/select-img01.jpg);
}
.who .management {
  background-image: url(../../image/select-img2.jpg);
}

*/
.who .black-wall {
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.form-table {
  width: 100%;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  min-width: 1180px;
}
.form-table tr {
  border-bottom: 1px solid #e9e9e9;
}
.form-table tr:last-child {
  border: none;
}
.form-table tr .tc-i {
  text-align: center !important;
}
.form-table tr .profile {
  width: 170px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #e9e9e9;
  overflow: hidden;
}
.form-table tr .profile .profile-img {
  width: 170px;
  height: 200px;
}
.form-table tr .profile .img-inp {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.form-table tr .th {
  text-align: left;
  background: #f9f9f9;
  padding-left: 30px;
  width: 20%;
}
.form-table tr .td {
  /*width: 30%;*/
  padding-right: 30px;
}
.form-table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.form-table tr td #id {
  width: 65%;
}
.form-table tr td input {
  height: 30px;
  padding-left: 5px;
  border: 1px solid #d4d4d4;
}
.form-table tr td select {
  height: 30px;
}
.form-table tr td .checkaddress {
  height: 30px;
  width: 12%;
}
.form-table tr td .checkbtn {
  margin-left: 5px;
  width: 31.9%;
  height: 30px;
}
.form-table tr td .career {
  width: 100%;
  resize: none;
  padding: 5px;
  border: 1px solid #d4d4d4;
}
.chk-span .chkbox {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  margin-bottom: 4px;
  margin-left: 3px;
}
.chk {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px !important;
  margin-bottom: 4px !important;
}
.modal-search {
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #e9e9e9;
  padding-left: 5px;
}
.modal-body {
  background: #f9f9f9;
}
.modal-body .modal-table {
  border-top: 1px solid #e9e9e9;
}
.modal-body .modal-table tr td {
  text-align: right;
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
  padding: 5px 10px 5px 10px;
}
.modal-body .modal-table tr td button {
  border: none;
  color: #777;
  background: none;
  width: 70px;
  height: 30px;
}
.modal-body .modal-table tr td:first-child {
  text-align: left;
}
.tcimp {
  text-align: center !important;
}
.join-okbtn {
  width: 170px;
  height: 50px;
  margin-top: 20px;
}
.join-title {
  color: #474747;
  margin-top: 50px;
}
.join-table {
  border-top: 2px solid #555;
  border-bottom: 1px solid #555;
}
.join-row {
  border: 1px solid #ccc;
}
.join-row .th-join {
  width: 20%;
  background: #e9e9e9 !important;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  vertical-align: middle;
  text-align: left;
}
.join-row .th-join span {
  height: 27px;
  display: inline-block;
  font-size: 1.6rem;
}
.join-row .td-join {
  width: 80%;
  background: #f9f9f9;
}
.join-row .td-join .birth {
  width: 8%;
  border: 1px solid #ccc;
  height: 27px;
  float: left;
}
.join-row .td-join .birth-txt {
  width: 2%;
  height: 27px;
  float: left;
  text-align: center;
  display: block;
}
.join-row .td-join .tel {
  width: 9%;
  border: 1px solid #ccc;
  height: 27px;
  float: left;
}
.join-row .td-join .email {
  width: 15%;
  border: 1px solid #ccc;
  height: 27px;
  float: left;
}
.join-row .td-join .email-select {
  width: 15%;
  border: 1px solid #ccc;
  height: 27px;
  float: left;
  margin-left: 1%;
}
.join-row .td-join .tel-hipen {
  width: 1.5%;
  float: left;
  display: block;
  height: 27px;
  text-align: center;
}
.join-row .td-join .email-at {
  width: 2.5%;
  float: left;
  display: block;
  height: 27px;
  text-align: center;
}
.join-row .td-join .inp {
  height: 100%;
  width: 30%;
  border: 1px solid #ccc;
  height: 27px;
  margin-right: 10px;
}
.join-row .td-join .id-txt {
  font-size: 14px;
  color: #555;
}
.join-row .td-join .postnum {
  width: 20%;
  border: 1px solid #ccc;
  height: 27px;
}
.join-row .td-join .postbtn {
  width: 10%;
  border: none;
  height: 27px;
  color: white;
  background: #555;
  border: 1px solid #ccc;
  font-size: 12px;
  padding: 5px;
}
.join-row .td-join .intro-area {
  width: 80%;
  border: 1px solid #ccc;
}
.join-row .td-join .business_num {
  height: 27px;
  border: 1px solid #ccc;
  float: left;
}
.join-row .td-join .business_num1 {
  width: 7%;
}
.join-row .td-join .business_num2 {
  width: 5%;
}
.join-row .td-join .business_num3 {
  width: 15%;
}
@media (max-width: 992px) {
  .td-join {
    width: 70% !Important;
  }
  .td-join .inp {
    width: 100% !important;
    margin-right: 0px !important;
  }
  .td-join .business_num1 {
    width: 28% !important;
  }
  .td-join .business_num2 {
    width: 20% !important;
  }
  .td-join .business_num3 {
    width: 47% !important;
  }
  .td-join .tel {
    width: 31.5% !important;
  }
  .td-join .tel-hipen {
    width: 2.5% !important;
  }
  .td-join .email {
    width: 34% !important;
  }
  .td-join .email-select {
    width: 25% !important;
  }
  .td-join .email-at {
    width: 6% !important;
  }
  .td-join .postbtn {
    width: 49% !important;
    float: left;
    margin-left: 2%;
  }
  .td-join .postnum {
    width: 49% !important;
    float: left;
  }
  .td-join .intro-area {
    width: 100% !important;
  }
  .td-join .birth {
    width: 24.333333% !important;
  }
  .td-join .birth-txt {
    width: 8% !important;
  }
  .th-join {
    width: 30% !Important;
  }
  .th-join span {
    font-size: 1em !important;
    line-height: 2em;
  }
}
.join-profile {
  width: 150px;
  height: 150px;
  float: left;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #e9e9e9;
}
.join-profile img {
  width: 100%;
}
.join-profile input[type=file] {
  opacity: 0;
  cursor: pointer;
}

.height_box_login{height:3vh;clear:both}
.login_box_id ,.login_box_pw{border:1px solid #666; border-radius: 0px !important; background:#f1f1f1}
.login_btn{border:none;background:#1D232E;color:#fff;height:4.5vh;border-radius:5px;transition:0.5s}
.login_btn:hover{border:1.5px solid #1D232E;color:#1D232E;height:4.5vh;border-radius:5px;background:rgba(0,0,0,0)}
.auto_login{height:3vh}
.join_btn{border:1.5px solid #717071;color:#717071;height:4.5vh;border-radius:5px;background:rgba(0,0,0,0);transition:0.5s}
.join_btn:hover{background:#717071;color:#fff}