@CHARSET "UTF-8";

*{margin:0 auto ;padding:0;list-style: none;text-decoration:none;box-sizing: border-box;font-family:"맑은 고딕";}
	
	/*option*/
	.padding_none{padding:0px !important}
	.margin_none{margin:0px !important}
	.padding_left{padding-left:0px !important}
	.h50{height:50%}
	.h25{height:25%}
	.h20{height:20%}
	.h60{height:60%}
	.h100{height:100%}
	.h33{height:30%}
	.h35{height:35%}
	.h40{height:40%}
	.h80{height:80%}
	.h90{height:90%}
	.h45{height:45%}
	.h70{height:70%}
	.h15{height:15%}
	.height_box{height:5vh;clear:both}
	.h45{height:45%}
	.w100{width:100%}
	.w30{width:30%}
	.w70{width:70%}
	.w50{width:50%}