@CHARSET "UTF-8";

	*{margin: 0 auto;padding:0;list-style:none;text-decoration: none;box-sizing: border-box;font-family: "맑은 고딕";}
	
	/*옵셪*/
	.padding_none{padding:0px !important}
	.height_box{width:100%;height:20%}
	.h40{width:100%;height:40%}
	.h25{width:100%;height:25%;clear:both}
	.h50{width:100%;height:50%}
	.h100{height:100%}
	.h30{height:30%}
	.height_box2{width:100%;height:2vh;clear:both}


	.content_wrap_request{padding:0px !important;margin-top:5%}
	.h50{width:100%;height:50%;}
	.content_request{height:5vh;border-top:1px solid #000;}
	.help_btn{width:10px;height:10px;border-radius:50%;background:red}
	button{border:none;background:rgba(0,0,0,0);vertical-align:middle;}
	
	
	.content_wrap_request{margin-top:5%;height:70vh}
	.request_text{height:33%;border-top:1px solid #000;padding-top:5%}
	.request_text2{height:40%;}
	.request_text > div:first-child{height:30%}
	.request_text > div:last-child{height:70%;text-align:center}
	
	.request_text > div > div:first-child{position:relative;}
	.position_box{position:absolute;width:100%;left:-30%;height:70%}
	.position_box > img{width:100%;height:100%}
	
	
	.btn_red{height:25px;width:25px;background:#c11a1a;border-radius:50%;border:none;color:#fff;margin-left:3px}
	.add_goods_btn{border:none;background:#21b6de;width:15vh;height:3vh;color:#fff;border-radius:5px}
	.title_color{color:#21b6de}
	
	
	.text_request_box{text-align:center;min-height:8vh;overflow: hidden;height: auto; padding-bottom:1%;}
	.text_request_box2{padding-top:5%;}
	.text_request_box > div{height:100%;}
	.text_request_box > div > div{border:1px solid #f5f6fa;padding:5px}
	.text_request_header{width:100%;background:#f5f6fa}
	
	.input_wrap input{border:1px solid #21b6de}
	.input_Wrap span{color:#21b6de}
	.price_wrap{width:100%;height:20vh;margin-top:10%}
	.btn_request_wrap{height:10vh;}
	.btn_request_wrap >  div{height:90%}
	.btn_request_wrap >  div  > button{height:100%;background:pink;border-radius:5px;}
	.btn_request_wrap >  div  > button:nth-child(1){background:#b3b3b3;color:#fff}
	.btn_request_wrap >  div  > button:nth-child(2){background:#21b6de;color:#fff}
	
	.take_box{position:relative;}
	
	
	
	
	
	
	
	/*css files*/
		.btn-file {
			width: 100% !important;
			height:100%;
		    position: relative;
		    overflow: hidden;
		    left: 1%;
		    height:3vh;
		    color:#fff !important;
		    background:#c01a1a !important;
		    border:none !important
		}
		
		
	
		
		
		.btn-file input[type=file] {
		    position: absolute;
		    top: 0;
		    right: 0;
		    width: 100%;
		    height: 100%;
		    font-size: 50px;
		    text-align: right !improtant;
		    filter: alpha(opacity=0);
		    opacity: 0;
		    outline: none;
		    background: white;
		    cursor: inherit;
		    display: block;
		}
		
		.btn-file {
			width: 100% !important;
			height:100% !important;
		    position: relative;
		    overflow: hidden;
		    height:3vh;
		    color:#fff !important;
		    background:#ddd !important;
		    border:none !important;
		    font-size:5vw !important;
		    font-weight: bold;
		    text-align: center;
		}
		.inputs_imgs{
			clear:both;
		    position: absolute;
		    height: 100%;
		    text-align: right !improtant;
		    filter: alpha(opacity=0);
		    opacity: 0;
		    outline: none;
		    background: white;
		    cursor: inherit;
		    display: block;
		}
		
	.photo_content_apply{width:100%;height:35vh;margin-top:5%}
	.photo_content_apply  li{float:left;height:90%}
	.change_img{width:100%;height:100%;position:relative;}
	.x_btn{position:absolute;top:0%;width:30px;height:30px;background:#999;color:#fff;text-align:center;}
	.contents_wrpa_apply{float:left}
	.contents_wrpa_apply > div{float:left}
	
	.add_modals{width:100%;height:100vh;background:rgba(0,0,0,0.5);position:fixed;z-index:99;display:none}
	.add_modals > div{height:auto;background:#fff;margin-top:15%;border-radius:5px}
	.add_modal_btn{width:50px;height:50px;background:#21b6de;float:right;color:#fff}
	.icon_popup_wrap{margin-top:12%;height:20vh}
	.icon_popup_wrap2{margin-top:5%;height:20vh}
	.icon_popup_wrap > div{float:left;}
	.content_check_wrap > .panel{float:left}
	.check_box_wrap{display:none}
	
	
	@media (max-width:500px){
		.photo_content_apply  li{height:50%}
	}
	
	
	@media(max-width:800px){
		.content_chang{font-size:0.9em !important}
	}
	
	/*added*/
	.panel-body{
		min-height:70px !important;
	}
	.panel-body span{
		cursor: pointer;
	}
	.panel-body span:hover{
		text-decoration: underline;
	}
	.dev_box_wrap{
		display:none;
	}
	.icon_popup_wrap > div table tr th{
		text-align: center !important;
	}
	.table{
		width: 80% !important;
	}
	.mark_list{
		padding-left: 20px !important;
		font-size: 18px;
	}
	.mark_list ul li{
		line-height: 2;
		text-align: left;
	}
	.table tr th{
		text-align: center;
		font-size: 18px;
	}
	.table>tbody>tr>td, .table>tbody>tr>th{
		border-top: 1px solid #21b6de !important;
	}
	.btn-wrap{
		width: 100%;
	}
	.btn-wrap button{
		width:120px;
		height:3vh;
		margin-top: 3%;
		border-radius:5px;
	}
	.prev-btn{
		border: 1px solid #ccc;
		background:#fff;
		color:#555;
	}
	.submit-btn{
		background:#21b6de;
		color:#fff;
	}
	.bigSelected{font-weight:bold;}
	.midSelected{font-weight:bold;}
	.serviceSelected{font-weight:bold;}