	*{margin:0 auto;padding:0;list-style:none;text-decoration:none;box-sizing: border-box;}
	@font-face{
		font-family: 'iropke';
		src : url('../../fonts/IropkeBatangM.woff');
	}
	.popup_header{width:100%;height:6vh;border-bottom:1px solid #999;font-family:'iropke'}
	.popup_header > div {line-height:6vh;padding-left:1%}
	
	.popup_main{width:100%;height:88vh;}
	.popup_main > div{float:left}
	.popup_main >  div:nth-child(1){width:18%;height:100%;border-right:#999;border-right:1px solid #999}
	.popup_main >  div:nth-child(2){width:81.8%;height:100%;border-right:#999;}
	
	
	.f1{width:100%;height:10vh;line-height:5vh;font-size:2vh;padding-left:7%;border-bottom:1px solid #999}
	.f1 > div{width:100%;text-align:left;line-height:10vh}
	
	.phone{width:100%;font-size:2vh;}
	.phone > div{display:block;padding-left:15%;margin-top:3%;color:#555}
	
	.phone_wrap{width:100%;height:79.8vh;margin-top:5%;}
	.phone_wrap > div{float:left}
	.phone_wrap > div:nth-child(1){width:65%;float:left;height:95%;margin:3%;border:1px solid #999}
	.search_box{width:100%;border-bottom:1px solid #999;height:8vh}
	.search_box > div{padding-top:3%;padding-left:2%;padding-right:2%;}
	.search_box > div > input{width:90%;vertical-align:top;height:3.5vh;border:none;border:2px solid #42BDBB; padding: 5px;}
	.search_box > div > button{height:3.5vh;width:45px;border:none;border:2px solid #42BDBB;vertical-align:top;background:#42BDBB;color:#fff}
	
	.phone_wrap > div:nth-child(3){height:95%;width:24%;margin-top:3%;float:right}
	.check_box{height:4vh;border-bottom:1px solid #999;padding:5px;}
	.email_box{height:55.8vh;border-bottom:1px solid #999;padding-left:2%;padding-top:2%;}
	
	.box_btn{height:100%;}
	.box_btn button{color:#42BDBB;background:#fff;width:3vh;height:3vh;margin-top:2%}
	.box_btn > div:nth-child(1){height:60%;padding-top:20vh}
	.box_btn > div:nth-child(2){height:20%;}
	.box_btn > div:nth-child(3){height:20%;}
	
	.scroll_box{width:100%;height:100%;float:left;overflow-x:hidden}
	.scroll_box > div{width:100%;}
	
	.right_box b{margin-left:3%}
	
	.cart{
		width:90%;
		background:#fff;
		border:1px solid #999;
		padding: 10px;
		white-space: nowrap;
		overflow:auto;
		margin :5px 0px 5px 0px;
	}
	.h20{
		height:20%
	}
	.h45{
		height:45%;
	}
	.user{margin-left:10px;line-height: 1.5;}
	footer{border-top:1px solid #999;clear:both;float:left;width:100%;}
	footer > div{width:43%;}
	footer > div button{margin-top:1.5%;margin-left:4%;width:20vh;height:3vh;background:#fff;}
	footer > div button:hover{color:#fff;background:#42BDBB}
	
	.active{background:#42BDBB;}
