@CHARSET "UTF-8";
*{list-style: none;text-decoration: none;font-family: "맑은 고딕";box-sizing:border-box !important;height:auto}
html{overflow-x: hidden !important;}
	
	header{height:130px;background:#1D232E;box-shadow:5px 0px 15px #000;position:relative;z-index:10;}
	
	.w100{width:100%}
.w95{width:95%}
.w90{width:90%}
.w80{width:80%}
.w87{width:87.5%}
.w75{width:75%}
.w70{width:70%}
.w65{width:65%}
.w60{width:60%}
.w55{width:55%}
.w50{width:50%}
.w45{width:45%}
.w40{width:40%}
.w30{width:30%}
.w33{width:33.33%}
.w25{width:25%}
.w22{width:20.9%}
.w20{width:20%}
.w15{width:15%}
.w12{width: 16.5% !important;}
.w12_5{width: 12.5%}
.w10{width:10%}
.w74{width:64%}
.w13{width:18%}

.h100{height:100%}
.h95{height:95%}
.h90{height:90%}
.h80{height:80%}
.h70{height:70%}
.h75{height:75%}
.h65{height:65%}
.h60{height:60%}
.h50{height:50%}
.h40{height:40%}
.h37{height:37.5%}
.h30{height:30%}n
.h25{height:25%;width:100%}
.h20{height:20%}
.h15{height:15%}
.h10{height:10%}
.h5_5{height:5%}
	
	
	.menu{color:#fff;width:80%;height:100%;}
	.login_wrap{width:13%;}
	.menu > div{float:left;height:100%;padding-top:5% !important}
	.logo_wrap{width:13%;text-align:center;}
	.drop_menu_wrap{width:74%}
	.logo_wrap > img{width:100%}
	/*main*/
	.drop_menu{width:100%;height:100%}
	.drop_menu > li{float:left;width:20%;text-align:center;height:100%;font-size:2vh;cursor:pointer;}
	.login_wrap > div{width:50%;float:left;text-align:center;}
	.login_wrap > div > a{color:#0077c0;font-size:16px}
	
	.drop_down{background:#fff;position:absolute !important;bottom:-30vh;clear:both;height:30vh;border-bottom:1px solid #b4b4b5;display:none}
	.drop_down_wrap{width:80%;height:100%;}
	.drop_down_menu{width:74%;height:90%;background:#fff;}
	.drop_down_menu > ul{width:19.5%;float:left;text-align: center;height:100%;margin-top:2%;margin-left:0.5%}
	.drop_down_menu > ul > li{text-align:left;font-size:1.7vh;margin-left:30%;height:13%;cursor:pointer;}
	.drop_down_menu > ul > li > a{color:#717071;text-decoration: none}
	.drop_down_menu > ul > li > a:hover{color:#0077c0}
	.drop_menu li> span{height:100%;display:inline-block;}
	.drop_menu li:hover  > span{color:#0077c0;border-bottom:5px solid #0077c0;}
	
	.menu_xs_wrap{height:100%;padding:3% 3% 4% 3% !important}
	.menu_xs_wrap > div{float:left;height:100%}
	.icon_bar{color:#43a2d5;font-size:5vh !important;font-weight:lighter !important;float:right;}
	 .show_menu{width:100%;background:#1D232E;border-top:1px solid #43a2d5;height:auto;display:none;min-height:50vh}
	 .show_menu  > ul  > li {color:#fff;text-align:center;text-align:center;}
	 .show_menu  > ul  > li > div{height:10vh;padding-top:7% !important;font-size:2.3vh}
	 .show_menu  > ul  > li a{color:#fff}
	 .show_menu  > ul  > li  ul{text-align: center;display:none}
	 .show_menu  > ul  > li  ul  li{height:7vh;padding-top:3.5% !important;font-size:1.8vh;background:#fff;border-bottom:1px solid #b4b4b5}
	 .show_menu  > ul  > li  ul  li > a{color:#434343}
	 .show_menu  > ul  > li  ul  li > a:hover{color:#43a2d5}
	 .logo_wrap > img{cursor:pointer;}
	.login_wrap > a{font-size:1.7vh}
	.login_wrap > a:last-child{margin-left:2vh;font-size:1.7vh}
