@CHARSET "UTF-8";

	*{margin:0 auto;padding:0;list-style: none;text-decoration: none;box-sizing:border-box;font-family:"맑은 고딕"}
	
	/*option*/
	.padding_none{padding:0px !important;}
	.h100{height:100% !important;}
	.h50{height:50% !important;}
	.h20{height:20% !important;}
	.h80{height:80% !important;}
	.h25{height:25% !important;}
	.h75{height:75% !important;}
	.h15{height:15% !important;}
	
	
	.title_step{ box-shadow: 3px 3px 3px #d0d0d0;}
	.user_background_wrap{position:relative;}
	.user_background_text{position:absolute;top:24%;width:50%;text-align: center;font-size:2vh;line-height:2em;left:25%}
	.user_background_text >div:first-child >  div:first-child{font-weight:bold;color:#000;font-size:3vh;line-height:1em !important}
	.pointer_font{font-weight:bold;color:#000;font-size:5vh;line-height:1em !important;margin-top:-3%}
	.user_img_box2{position:absolute;top:13%;right:22%}
	.user_img_box2 > img{width:40%;}
	.user_text{position: absolute;bottom:8%;width:100%;text-align:center;}
	.user_text  > img{width:30%}
	.user_text > div{margin-top:2%;line-height:2.1em;font-size:2vh}
	.content_text_wrap{margin-top:8%}
	.content_text_wrap > div:first-child{text-align: center}
	.content_text_wrap > div:nth-child(2){text-align: center;font-size:3.5vh;margin-top:2%}
	.content_text_wrap2{margin-top:0.5% !important;border-top:3px solid #b4b4b5 !important;padding:0px !important}
	.content_text_wrap2 > div{margin-top:8%;width:100%;}
	.content_text_wrap2 > div > div{float:left;text-align:center;height:45vh}
	.content_text_wrap2 > div > div:nth-child(odd){width:21.25%;border:1px solid #b4b4b5;border-radius:10px;padding:1.5% 1% 1.5% 1%; box-shadow: 3px 3px 3px #d0d0d0; }
	.content_text_wrap2 > div > div:nth-child(even){width:5%;}
	.content_text_wrap2 > div > div:nth-child(even) > img{width:45%;}
	.info_box_img{width:100%;margin-top:5%;color:#000;font-size:1.8vh;font-weight:bold;}
	.info_box_img > img{width:35%}
	.info_box_img > b{color:#0077c0;font-weight:600;}
	.info_text{color:#000;font-size:1.6vh;line-height:3vh;margin-top:1%;letter-spacing:-0.2vh}
	.info_btns{margin-top:15%;color:#717071;border:1px solid #717071;background:rgba(0,0,0,0);width:50%;height:10%;transition:0.5s}
	.info_btns2{color:#fff;border:1px solid #fff;background:rgba(0,0,0,0);width:15%;height:10%;position: absolute;top:42%;right:5%;transition:0.5s}
	.content3_wrap{margin-top:5%}
	.content3_wrap > div > img{width:100%}
	.content3_wrap > div{position:relative;}
	.info_btns:hover{background:#717071;color:#fff}
	.info_btns2:hover{background:#0e4583;color:#fff;border:1px solid #0e4583}
	
	.user_img_box{position:absolute;top:13%;right:24%}
	.user_img_box > img{width:40%;}
	.position_master{position:relative;}
	.master_btns{position: absolute;bottom:18%;border:1px solid #717071;color:#717071;background:rgba(0,0,0,0);width:20%;height:10%;transition:0.5s}
	.master_btns:hover{color:#fff;background:#0e4583;border:1px solid #0e4583}
		
	