@CHARSET "UTF-8";
	@media (max-width: 760px){
		.xs-padding{padding:0px !important;width:100%;}
		.table3 tr td:first-child{width:100%;}	
		.table3 tr td:last-child{width:100%}
		.xs_box{min-height:25vh;background:#f5f6fa;clear:both}
		.xs_box .h25{margin-top:10%}
		.xs_box .h25 > div{font-size:3vw}
		
		.phone_box{background:#f5f6fa;clear:both}
		.hidden_text{display:none;font-size:2.5vw;}
	}

	@font-face{
	font-family: 'iropke';
	src : url('../../fonts/IropkeBatangM.woff');
	}
	.mypage-title{
		margin-bottom: 15px;
	}
	div .left-10{
		margin-left : 10%;
	}
	.user-info{
		font-size:22px;
		font-weight: 900;
	}
	.no-list td{
		text-align: center;
		padding: 100px !important;
	}
	.no-list td b{
		font-size:18px;
	}
	.no-list td p{
		font-weight:normal !important;/*why element.style is set font-weight bold? */
	}
	.link-line{
		text-decoration: underline;
		color: #21b6de;
		line-height: 1;
	}
	.hide{
		display: none;
	}
	
	*{margin: 0 auto;padding:0;list-style:none;text-decoration: none;box-sizing: border-box;font-family: 'iropke !important';}
	
	/* 듭뀴*/
	
	html{overflow-x: hidden !important;}
	.padding_none{padding:0px !important}
	.height_box{width:100%;height:20%}
	.h40{width:100%;height:40%}
	.h25{width:100%;height:25%;clear:both}
	.h50{width:100%;height:50%}
	.height_box2{width:100%;height:2vh;clear:both}
	
	.sub_menu_wrap{height:auto;}
	.sub_menu_wrap > div:first-child{height:20%;background:#21b6de;width:100%;padding:10% 20% 10% 20%}
	.sub_menu_header > div{float:left}
	.sub_menu_wrap > div:nth-child(2){height:40%;width:100%;clear: both;}
	.sub_menu_wrap > div:last-child{width:100%;height:20%;}                      
	.select_menu > ul{width:100%;height:100%;}	
	.select_menu > ul > li{width:100%;height:25%;border-bottom:1px solid #d0d1d5;padding:8% 10% 10% 8%;color:#929397;background:#f5f6fa}
	.bener_wrap{width:100%;height:90%;border:1px solid #000}
	.content_wrap{height:85vh;margin-top:3%}
	
	.active{color:#21b6de !important}
	
	.notice{width:100%;height:35%;margin-bottom:5%}
	.notice_board{width:100%;height:70%;background:#f5f6fa;overflow: auto;}
	.notice_row{height:25%;width:100%}
 	.notice_row > div{float:left;font-size:1.6vh;text-align: center;padding-top:1%} 
	.notice_row > div:first-child{width:10%;height:100%;}
	.notice_row > div:nth-child(2){width:60%;height:100%;}
	.notice_row > div:last-child{width:30%;height:100%;}
	.notice_row > div:last-child  button{
								float:right;
								border:none;
								width:30%;
								height:80%;
								border:1px solid #343434;
								color:#343434;
								background:rgba(0,0,0,0)}
	
	.btns_wrap{width:100%;}
	.btns_wrap > button{height:60%;float:right;border:1px solid #343434;color:#343434;background:rgba(0,0,0,0);padding: 5px; margin: 5px;}
	
	
	.board_wrap{width:100%;:35vh;clear: both;margin-top:1%}
	.board_wrap > div{height:15%}
	.board > form{margin:5px;}
	.search_wrap{border-radius: 5px !important;}
	.search_wrap > input{border:1px solid #343434 !important;}
	.select_box{border-radius: 5px !important;border:1px solid #343434 !important;}
 	.search_btn{
			background: #00213d !important;
			background-image: url('/resources/image/search_b.png') !important;
			background-repeat: no-repeat !important;
   		 	background-size: contain !important;
			height:100%;
			width: 15% !important;
			border:1px solid #343434 !important;
			color:#fff !important;
			} 
	.search_btn img{width:100%;}		
	.search_input{width:30%}
	.table_wrap table{border-top:2px solid #555;}
	.table_wrap table tr{height:4.5vh;}
	.table_wrap table tr th{vertical-align:middle !important; border-bottom: 1px solid #00213d; text-align: center;}
	.table_wrap table tr td {vertical-align:middle !important; text-align: center;}
	
	 /*dialog*/
	.dialog_box{margin-top:15%;height:auto;background: #fff;border-radius:1%;box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.25)}
	.dialog_box > div{padding:4% 4% 3% 4%;}
	.tables2{border-bottom:1px solid #ddd;margin-bottom:15px !important}
	.tables2 tr  td:first-child {padding-left:5% !important;height:4vh;line-height:4vh !important;text-align: left;width:45%;text-align:right;font-weight:800;color:#555}
	.tables2 tr  td:last-child{height:4vh;line-height:4vh !important;}
	.okbtn{border:none;height:40px;border-radius:5px}
	
	
	
	/*my_info.jsp*/
	.table3{height:80vh; margin-top:20px;border-bottom:none !important}
	.table3 tr:first-child > td{border-top:1px solid #555 !important}
	.table3 tr:last-child > td{border-bottom:1px solid #555 !important}
	.table3 tr td:first-child{width:20%;text-align: left;height: 25%;padding-left:3%;padding-top:2%;font-weight:bold;background:#f1f1f1;border-bottom:1px solid #ddd}
	.table3 tr td:last-child{padding-top:2%;width:70%;float:left;height:100%;border-bottom:1px solid #ddd;text-align:left;border-right:1px solid #ddd}
	.table3 tr td:last-child > div{height:100%}
	.table3 tr td:last-child > div >  div{height:33.33%}
	.table3 tr td:last-child > div >  div:nth-child(1){height:20%;}
	.table3 tr td:last-child > div >  div:nth-child(2){height:45%;}
	.table3 tr td:last-child > div   button{border:none;height:3.5vh;border:1px solid #000;background: #fff;cursor: pointer}
	
	.infomation_box > div:nth-child(2){color:#337ab7}
	
	/*suehyun*/
	@font-face{
	font-family: 'iropke';
	src : url('../../fonts/IropkeBatangM.woff');
	}
	.mypage-title{
		margin-bottom: 15px;
	}
	div .left-10{
		margin-left : 10%;
	}
	.user-info{
		font-size:22px;
		font-weight: 900;
	}
	.no-list td{
		text-align: center;
		padding: 100px !important;
	}
	.no-list td b{
		font-size:18px;
	}
	.no-list td p{
		font-weight:normal !important;/*why element.style is set font-weight bold? */
	}
	.link-line{
		text-decoration: underline;
		color: #21b6de;
		line-height: 1;
	}
	.hide{
		display: none;
	}
	
	.notice_row > div:first-child{width:25%}
	.notice_row > div:nth-child(2){width:50%}
	.notice_row > div:last-child{width:25%}
	
	
	@media (max-width:800px){
		.notice_row{font-size:1.5vh !important}
		.notice_row > div:first-child{width:20%;font-size: 1.2vh !important;}
		.notice_row > div:nth-child(2){width:45%;font-size: 1.2vh !important;}
		.notice_row > div:last-child{width:25%;font-size: 1.2vh !important;}
		.notice_row > div:last-child  button{width:50% !important}
		.btns_wrap > button {float:left !important}
		.btn_wraps {float:left !important}
	}
	
	@media (max-width:450px){
		.content_wrap{padding:0px !important}
		.notice_row{font-size:1.5vh !important}
		.notice_row > div:first-child{width:20%;font-size: 1.2vh !important;}
		.notice_row > div:nth-child(2){width:60%;font-size: 1.2vh !important;}
		.notice_row > div:last-child{width:20%;font-size: 1.2vh !important;}
		
	}
	
	@media (max-width:990px){
		.sub_menu_wrap > div:first-child{padding: 4% 5% 5% 4%;text-align: left !important}
		.sub_menu_header > div{text-align: left !important}
		.select_menu{display:none}  
		.select_menu > ul > li{    padding: 4% 5% 5% 4%;}
	}
	
	@media (max-width: 760px){
		.search_wrap{padding:0px !important}		
		.select_box{margin-left: 0px !important;}
	}
	